<!DOCTYPE html>
<html>
  <head>
    <title>Upgrade Game - <%= title %></title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="well jumbotron">
      <h1>Welcome to Upgrade Game</h1>
      <p>Here is an Upgrade game which is built by Node.js.</p>
      <form method="POST" action="play">
        <label>Nick Name:<input name="name"/></label>
        <input type="submit" value="Join the game"/>
      </form>
    </div>
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>